In [1]:
import numpy as np
import pandas as pd

In [19]:
# Chargement du fichier
data = pd.read_csv("dataset_02052023.csv")

**1- Prétraitement des données**

In [20]:
#Taille des données
data.shape

(7409, 35)

In [21]:
data.head()

,Num,Timestamp,Current_J0,Temperature_T0,Current_J1,Temperature_J1,Current_J2,Temperature_J2,Current_J3,Temperature_J3,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
0,1,2022-10-26T08:17:21.847Z,0.109628,27.875,-2.024669,29.3750,-1.531442,29.3750,-0.998570,32.1250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2022-10-26T08:17:22.852Z,0.595605,27.875,-2.278456,29.3125,-0.866556,29.4375,-0.206097,32.1875,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,2022-10-26T08:17:23.857Z,-0.229474,27.875,-2.800408,29.3125,-2.304336,29.4375,-0.351499,32.1250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,2022-10-26T08:17:24.863Z,0.065053,27.875,-3.687768,29.3125,-1.217652,29.4375,-1.209115,32.1250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2022-10-26T08:17:25.877Z,0.884140,27.875,-2.938830,29.3750,-1.794076,29.4375,-2.356471,32.1875,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
 data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7409 entries, 0 to 7408
Data columns (total 35 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Num                   7409 non-null   int64
 1   Timestamp             7409 non-null   object
 2   Current_J0            7363 non-null   float64
 3   Temperature_T0        7355 non-null   float64
 4   Current_J1            7355 non-null   float64
 5   Temperature_J1        7355 non-null   float64
 6   Current_J2            7355 non-null   float64
 7   Temperature_J2        7355 non-null   float64
 8   Current_J3            7355 non-null   float64
 9   Temperature_J3        7355 non-null   float64
 10  Current_J4            7355 non-null   float64
 11  Temperature_J4        7355 non-null   float64
 12  Current_J5            7355 non-null   float64
 13  Temperature_J5        7355 non-null   float64
 14  Speed_J0              7355 non-null   float64
 15  Speed_J1              7355 non-null   float64
 16  Speed_J2              7355 non-null   float64
 17  Speed_J3              7355 non-null   float64
 18  Speed_J4              7355 non-null   float64
 19  Speed_J5              7355 non-null   float64
 20  Tool_current          7355 non-null   float64
 21  cycle                 7409 non-null   int64
 22  Robot_ProtectiveStop  7355 non-null   object
 23  grip_lost             7409 non-null   bool
 24  Unnamed: 24           0 non-null      float64
 25  Unnamed: 25           0 non-null      float64
 26  Unnamed: 26           0 non-null      float64
 27  Unnamed: 27           0 non-null      float64
 28  Unnamed: 28           0 non-null      float64
 29  Unnamed: 29           0 non-null      float64
 30  Unnamed: 30           0 non-null      float64
 31  Unnamed: 31           0 non-null      float64
 32  Unnamed: 32           0 non-null      float64
 33  Unnamed: 33           0 non-null      float64
 34  Unnamed: 34           0 non-null      float64
dtypes: bool(1), float64(30), int64(2), object(2)
memory usage: 1.9+ MB

In [23]:
 data.describe()

,Num,Current_J0,Temperature_T0,Current_J1,Temperature_J1,Current_J2,Temperature_J2,Current_J3,Temperature_J3,Current_J4,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
count,7409.000000,7363.000000,7355.000000,7355.000000,7355.000000,7355.000000,7355.000000,7355.000000,7355.000000,7355.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,3705.000000,-0.048934,34.906781,-2.297936,37.659636,-1.199381,38.064064,-0.605312,40.936999,-0.022968,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,2138.938405,0.829395,2.762057,0.800450,3.247315,0.609984,3.311948,0.514937,3.182399,0.630789,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,-6.247756,27.812500,-5.808734,29.312500,-4.171966,29.375000,-3.333102,32.125000,-4.738406,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,1853.000000,-0.195026,33.000000,-2.664919,35.375000,-1.552803,35.750000,-0.830933,38.937500,-0.125809,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,3705.000000,-0.080830,36.500000,-2.236342,39.687500,-1.077137,40.187500,-0.571190,43.062500,-0.012325,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,5557.000000,0.095959,37.062500,-1.778334,40.125000,-0.838721,40.437500,-0.388398,43.125000,0.086098,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,7409.000000,6.806938,37.250000,1.083596,40.500000,2.464940,40.937500,2.270268,43.437500,4.089389,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**2- Analyse des données**

In [24]:
data.dtypes

Num                       int64
Timestamp                object
Current_J0              float64
Temperature_T0          float64
Current_J1              float64
Temperature_J1          float64
Current_J2              float64
Temperature_J2          float64
Current_J3              float64
Temperature_J3          float64
Current_J4              float64
Temperature_J4          float64
Current_J5              float64
Temperature_J5          float64
Speed_J0                float64
Speed_J1                float64
Speed_J2                float64
Speed_J3                float64
Speed_J4                float64
Speed_J5                float64
Tool_current            float64
cycle                     int64
Robot_ProtectiveStop     object
grip_lost                  bool
Unnamed: 24             float64
Unnamed: 25             float64
Unnamed: 26             float64
Unnamed: 27             float64
Unnamed: 28             float64
Unnamed: 29             float64
Unnamed: 30             float64
Unnamed: 31             float64
Unnamed: 32             float64
Unnamed: 33             float64
Unnamed: 34             float64
dtype: object

In [25]:
data.isnull().sum()

Num                        0
Timestamp                  0
Current_J0                46
Temperature_T0            54
Current_J1                54
Temperature_J1            54
Current_J2                54
Temperature_J2            54
Current_J3                54
Temperature_J3            54
Current_J4                54
Temperature_J4            54
Current_J5                54
Temperature_J5            54
Speed_J0                  54
Speed_J1                  54
Speed_J2                  54
Speed_J3                  54
Speed_J4                  54
Speed_J5                  54
Tool_current              54
cycle                      0
Robot_ProtectiveStop      54
grip_lost                  0
Unnamed: 24             7409
Unnamed: 25             7409
Unnamed: 26             7409
Unnamed: 27             7409
Unnamed: 28             7409
Unnamed: 29             7409
Unnamed: 30             7409
Unnamed: 31             7409
Unnamed: 32             7409
Unnamed: 33             7409
Unnamed: 34             7409
dtype: int64

In [26]:
colonnesValeursNulles = data.columns[data.isnull().any()]
print("\nColonnes avec des valeurs nulles :")
colonnesValeursNulles

Colonnes avec des valeurs nulles :

Index(['Current_J0', 'Temperature_T0', 'Current_J1', 'Temperature_J1',
       'Current_J2', 'Temperature_J2', 'Current_J3', 'Temperature_J3',
       'Current_J4', 'Temperature_J4', 'Current_J5', 'Temperature_J5',
       'Speed_J0', 'Speed_J1', 'Speed_J2', 'Speed_J3', 'Speed_J4', 'Speed_J5',
       'Tool_current', 'Robot_ProtectiveStop', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
       'Unnamed: 34'],
      dtype='object')

**2.1- Gestion des valeurs manquantes**

In [27]:
# Supprimer les valeurs manquantes
data = data.drop(columns=[f'Unnamed: {i}' for i in range(24, 35)])

In [28]:
# Imputation des capteurs par la médiane
sensor_cols = ['Current_J0', 'Temperature_T0', 'Current_J1', 'Temperature_J1',
       'Current_J2', 'Temperature_J2', 'Current_J3', 'Temperature_J3',
       'Current_J4', 'Temperature_J4', 'Current_J5', 'Temperature_J5',
       'Speed_J0', 'Speed_J1', 'Speed_J2', 'Speed_J3', 'Speed_J4', 'Speed_J5',
       'Tool_current']
data[sensor_cols] = data[sensor_cols].fillna(data[sensor_cols].median())

In [30]:
# Supprimer les lignes où la cible est manquante
data = data.dropna(subset=['Robot_ProtectiveStop'])

In [32]:
# Conversion des types
data['Timestamp'] = pd.to_datetime(data['Timestamp'].str.strip('""'), format='%Y-%m-%dT%H:%M:%S.%f%z', errors='coerce')
# Strip extra double quotes and explicitly specify the format
data['grip_lost'] = data['grip_lost'].astype(int)

<ipython-input-32-e412b3fe00b8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Timestamp'] = pd.to_datetime(data['Timestamp'].str.strip('""'), format='%Y-%m-%dT%H:%M:%S.%f%z', errors='coerce')
<ipython-input-32-e412b3fe00b8>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['grip_lost'] = data['grip_lost'].astype(int)

In [34]:
# Sauvegarder le dataset nettoyé
data.to_csv('cobot_data_clean.csv', index=False)